body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.blurredBackGroundBlock {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);     
    background: rgba(255,255,255,0.1);
    height: 7vh;        
}

.mainBackGroundBlock {   
    height: 100vh;    
    background-image: url('./images/backGround.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;    
}

.bottomTextWrapper {
    display: flex;
    justify-content: center;    
    margin: 15px;
}

.bottomText {
    max-width: 1000px;
    text-align: justify;
}

